@layer components {
  .input {
    @apply w-full;
  }
  .input:hover {
    @apply bg-surface/80;
  }
  .input[data-invalid] {
    @apply bg-surface;
  }

  .input[data-invalid]:hover {
    @apply bg-surface/80;
  }
}
