@layer components {
  .input {
    @apply w-full;
  }
  .input:hover {
    @apply bg-foreground/20;
  }
  .input:focus {
    @apply bg-surface;
  }
  .input[data-invalid] {
    @apply bg-surface;
  }

  .input[data-invalid]:hover {
    @apply bg-foreground/20;
  }

  .input[data-invalid]:focus {
    @apply bg-surface;
  }

  .input-group {
    @apply w-full;
  }
  .input-group:hover {
    @apply bg-foreground/20;
  }
  .input-group:focus {
    @apply bg-surface;
  }
  .input-group[data-invalid] {
    @apply bg-surface;
  }

  .input-group[data-invalid]:hover {
    @apply bg-foreground/20;
  }

  .input-group[data-invalid]:focus {
    @apply bg-surface;
  }

  .input--on-surface {
    @apply bg-foreground/10;
  }

  .input--on-surface:hover {
    @apply bg-foreground/20;
  }
  .input--on-surface:focus {
    @apply bg-foreground/10;
  }
  .input--on-surface[data-invalid] {
    @apply bg-foreground/10;
  }

  .input--on-surface[data-invalid]:hover {
    @apply bg-foreground/20;
  }

  .input--on-surface[data-invalid]:focus {
    @apply bg-foreground/10;
  }
}
