@layer theme, base, components, utilities;

@import "tailwindcss";
@import "@heroui/styles";
@import "../styles/theme/nestor.css" layer(theme);
@import "../styles/ui/buttons.css";
@import "../styles/ui/form.css";

.gpay-button {
  border-radius: 40px !important;
  height: calc(var(--spacing) * 11) !important;
}
